USE [master]
GO
/****** Object:  Database [QLKhoDienThoai_K235480106082]    Script Date: 5/1/2026 10:03:34 PM ******/
CREATE DATABASE [QLKhoDienThoai_K235480106082]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_KhoDienThoai', FILENAME = N'D:\Hoc Tap\sql2025\MSSQL17.MSSQLSERVER\MSSQL\DATA\QL_KhoDienThoai.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_KhoDienThoai_log', FILENAME = N'D:\Hoc Tap\sql2025\MSSQL17.MSSQLSERVER\MSSQL\DATA\QL_KhoDienThoai_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLKhoDienThoai_K235480106082].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLKhoDienThoai_K235480106082]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TongTienDonHang]    Script Date: 5/1/2026 10:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_TongTienDonHang] (@MaDH INT)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @TongTien DECIMAL(18,2);

    SELECT @TongTien = SUM(SoLuong * GiaBan)
    FROM dbo.ChiTietDonHang
    WHERE MaDH = @MaDH;

    RETURN ISNULL(@TongTien, 0);
END;

GO
/****** Object:  UserDefinedFunction [dbo].[fn_TongTienKho]    Script Date: 5/1/2026 10:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_TongTienKho] ()
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @TongTien DECIMAL(18,2);

    SELECT @TongTien = SUM(SoLuong * GiaBan)
    FROM dbo.DienThoai;

    RETURN ISNULL(@TongTien, 0);
END;
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 5/1/2026 10:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaDH] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[GiaBan] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DienThoai]    Script Date: 5/1/2026 10:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DienThoai](
	[MaDT] [int] IDENTITY(1,1) NOT NULL,
	[TenDT] [nvarchar](100) NULL,
	[GiaNhap] [decimal](12, 2) NULL,
	[GiaBan] [decimal](12, 2) NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 5/1/2026 10:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDH] [int] IDENTITY(1,1) NOT NULL,
	[NgayDat] [date] NULL,
	[TongTien] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 5/1/2026 10:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 5/1/2026 10:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](100) NOT NULL,
	[MaLoai] [int] NOT NULL,
	[GiaNhap] [decimal](12, 2) NULL,
	[GiaBan] [decimal](12, 2) NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DienThoai] ON 

INSERT [dbo].[DienThoai] ([MaDT], [TenDT], [GiaNhap], [GiaBan], [SoLuong]) VALUES (1, N'iPhone 15', CAST(20000000.00 AS Decimal(12, 2)), CAST(25000000.00 AS Decimal(12, 2)), 10)
INSERT [dbo].[DienThoai] ([MaDT], [TenDT], [GiaNhap], [GiaBan], [SoLuong]) VALUES (2, N'Samsung S23', CAST(15000000.00 AS Decimal(12, 2)), CAST(18000000.00 AS Decimal(12, 2)), 15)
INSERT [dbo].[DienThoai] ([MaDT], [TenDT], [GiaNhap], [GiaBan], [SoLuong]) VALUES (3, N'Redmi Note 12', CAST(4000000.00 AS Decimal(12, 2)), CAST(5000000.00 AS Decimal(12, 2)), 20)
SET IDENTITY_INSERT [dbo].[DienThoai] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([MaDH], [NgayDat], [TongTien]) VALUES (1, CAST(N'2026-05-01' AS Date), CAST(0.00 AS Decimal(12, 2)))
INSERT [dbo].[DonHang] ([MaDH], [NgayDat], [TongTien]) VALUES (2, CAST(N'2026-05-01' AS Date), CAST(0.00 AS Decimal(12, 2)))
INSERT [dbo].[DonHang] ([MaDH], [NgayDat], [TongTien]) VALUES (3, CAST(N'2026-05-01' AS Date), CAST(0.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LoaiSanP__E29B10426C301CB1]    Script Date: 5/1/2026 10:03:34 PM ******/
ALTER TABLE [dbo].[LoaiSanPham] ADD UNIQUE NONCLUSTERED 
(
	[TenLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_DH] FOREIGN KEY([MaSP])
REFERENCES [dbo].[DienThoai] ([MaDT])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_CTDH_DH]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_SP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_CTDH_SP]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SP_Loai] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiSanPham] ([MaLoai])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SP_Loai]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([GiaBan]>=(0)))
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([GiaNhap]>=(0)))
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([SoLuong]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemSanPham]    Script Date: 5/1/2026 10:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ThemSanPham]
    @TenDT NVARCHAR(100),
    @GiaNhap DECIMAL(12,2),
    @GiaBan DECIMAL(12,2),
    @SoLuong INT
AS
BEGIN
    INSERT INTO dbo.DienThoai (TenDT, GiaNhap, GiaBan, SoLuong)
    VALUES (@TenDT, @GiaNhap, @GiaBan, @SoLuong);

    SELECT * 
    FROM dbo.DienThoai
    WHERE MaDT = SCOPE_IDENTITY();
END;

GO
USE [master]
GO
